.centered {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  }
  
  .camera {
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
  }
  
  .video-cam {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #673ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .video-cam:hover {
    background-color: #311b92;
  }
  