<!-- <nav>
  <a routerLink="/">Home</a>
  <a routerLink="/inventory">Inventory</a>
  <a routerLink="/scan">Scan</a>
  <a routerLink="/add-item">Add item</a>
  <a routerLink="/contact">Contact </a>
</nav> -->
<mat-toolbar color="primary">
  <span class="toolbar-title">Menu</span>
  <span class="spacer"></span>
  <a mat-raised-button class="nav-button" routerLink="/">Home</a>
  <a mat-raised-button class="nav-button" routerLink="/scan">Scan</a>
  <a mat-raised-button class="nav-button" routerLink="/inventory">Inventory</a>
  <a mat-raised-button class="nav-button" routerLink="/add-item">Add Item</a>
  <a mat-raised-button class="nav-button" routerLink="/contact">Contact</a>
</mat-toolbar>
<router-outlet></router-outlet>

<router-outlet />
